:root {
  --white: #FFFFFF;
  --black: #000000;
  --red: #FF0000;
}

*{
	box-sizing: border-box;
	color:#FF0000;
}

body{
	padding:0;
	margin:0;
	font-family: "Untitled Sans", sans-serif;
	font-size:1rem;
	color:#FF0000;
}

a{
	text-decoration: none;
}

/** COLORS **/

.has-dark-background{
	background-color: #000;
}

.has-dark-background *, .has-dark-background .types ul, .has-dark-background section.content{
	color:#fff;
	border-color:#fff;
}

.has-dark-background .border-top, .has-dark-background .border-bottom, .has-dark-background .border-left, .has-dark-background .border-right{
	border-color:#fff;
}

header{
	width:100%;
}

h1, .h1{
	font-size:3rem;
}

h2, .h2{
	font-size:2rem;
	font-weight: 400;
}

h3, .h3{
	font-size:1.25rem;
	line-height: 1.5;
	font-weight: 300;
}

h5, .h5{
	font-size:.85rem;
}

.regular{
	font-weight: 400;
}

.entry-content {
	color:#000;
}

header .site-title{
	font-size:1rem;
	margin:0;
}

header .menu{
	list-style: none;
	margin:0;
}

header .menu li{
	display: inline-block;
	padding-left:2rem;
}

.fit{
	width: 100%;
	max-width: 100%;
	height: auto;
}

/** BORDERS **/

.border-top, .border-bottom, .border-left, .border-right, button{
	border-color:#FF0000;
}

.block-content-pair:not(:last-child){
	border-bottom-style:solid;border-bottom-width:1px
}

.block-content:not(:last-child){
	border-bottom-style:solid;border-bottom-width:1px
}

.wp-block-group, .wp-block-image-grid{
	border-bottom-width:1px;
	border-bottom-style: solid;
}

.wp-block-image-grid div:not(:last-child){
	border-right-width: 1px;
	border-right-style: solid;
}


/** CONTENT CONTAINER **/

section.content{
	border:1px solid #FF0000;
}

.entry-content > *{
	padding:0 2rem;
}

/** CONTENT TYPE NAV **/

.types ul{
	list-style:none;
	margin:0;
	padding:0;
	border:1px solid #FF0000;
	border-bottom:0;
}

.types ul li{
	width:20%;
}

.types ul li a{
	border-right:1px solid #FF0000;
	padding:.75rem;
	display: inline-block;
	width:100%;
	text-align: center;
}

.types ul li:last-child a{
	border-right:0;
}

/** BLOCKS CONTENT PAIR **/
@media screen and (min-width: 72em){
	.block-content-pair .entry-title a{
		max-width: 90%;
		display: inline-block;
	}

	.block-content h2, .block-content .h2{
		font-size:2.5rem;
	}
}

/** FORMS **/

footer form{
	width:100%;
}

footer input{
	width:65%;
	border:0;
	border-width:1px;
	border-style:solid;
	background-color:transparent;
}


footer button{
	width:35%;
}

input{
	color:#FF0000;
	font-size:1rem;
	padding:1rem;
	margin:0;
}

input::placeholder{
	color:#FF0000;
}

.has-dark-background input, .has-dark-background input::placeholder{
	color:#fff;
}

button{
	background:#FF0000;
	border-width:1px;
	border-style:solid;
	color:#fff;
	font-size:1rem;
	padding:1rem;
	margin:0;
	cursor: pointer;
} 

.has-dark-background button{
	color:#000;
	background-color: #fff;
}

/** COL/RESPONSIVE SIZING **/

.wp-block-group.alignwide > *{
	max-width: 58.333333%
}

.wp-block-image-grid {
	padding:0;
}
.wp-block-image-grid div{
	width:20%;
}


/** RELATED BLOCK **/

.wp-block-related {
	padding:0;
	border-bottom-width: 1px;
	border-bottom-style:solid;
}

.wp-block-related .image{
	position: relative;
	padding-top:100%;
}

.wp-block-related .image img{
	position: absolute;
	max-height:80%;
	width:auto;
	top:50%;
	left:50%;
	transform:translate(-50%, -50%);
}

@media screen and (min-width:52em){

	.wp-block-related .item:not(:last-child){
		margin-right:.8rem;
		border-right-width:1px;
		border-right-style:solid;
	}
	.wp-block-related .item:not(:first-child){
		margin-left:.8rem;
		border-left-width:1px;
		border-left-style:solid;
	}
}

